GH5OGN_1015/GH5OGN_XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- egyszerű tipusok - felepites -->
    <xs:element name="vendeglatas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="etterem" type="etteremTipus" maxOccurs="unbounded"/>
                <xs:element name="foszakacs" type="foszakacsTipus" maxOccurs="unbounded"/>
                <xs:element name="szakacs" type="szakacsTipus" maxOccurs="unbounded"/>
                <xs:element name="gyakornok" type="gyakornokTipus" maxOccurs="unbounded"/>
                <xs:element name="vendeg" type="vendegTipus" maxOccurs="unbounded"/>
                <xs:element name="rendeles" type="rendelesTipus" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Kulcsok -->
    <xs:key name="etteremKulcs">
        <xs:selector xpath="etterem"/>
        <xs:field xpath="@ekod"/>
    </xs:key>
    
    <xs:key name="foszakacsKulcs">
        <xs:selector xpath="foszakacs"/>
        <xs:field xpath="@fkod"/>
    </xs:key>
    
    <xs:key name="szakacsKulcs">
        <xs:selector xpath="szakacs"/>
        <xs:field xpath="@szkod"/>
    </xs:key>
    
    <xs:key name="gyakornokKulcs">
        <xs:selector xpath="gyakornok"/>
        <xs:field xpath="@gykod"/>
    </xs:key>
    
    <xs:key name="vendegKulcs">
        <xs:selector xpath="vendeg"/>
        <xs:field xpath="@vkod"/>
    </xs:key>

    <!-- Idegen kulcsok -->
    <xs:keyref refer="etteremKulcs" name="etterem_idegen_kulcs_foszakacs">
        <xs:selector xpath="foszakacs"/>
        <xs:field xpath="@e_f"/>
    </xs:keyref>
    
    <xs:keyref refer="etteremKulcs" name="etterem_idegen_kulcs_szakacs">
        <xs:selector xpath="szakacs"/>
        <xs:field xpath="@e_sz"/>
    </xs:keyref>
    
    <xs:keyref refer="etteremKulcs" name="etterem_idegen_kulcs_gyakornok">
        <xs:selector xpath="gyakornok"/>
        <xs:field xpath="@e_gy"/>
    </xs:keyref>
    
    <xs:keyref refer="etteremKulcs" name="etterem_idegen_kulcs_rendeles">
        <xs:selector xpath="rendeles"/>
        <xs:field xpath="@e_v_e"/>
    </xs:keyref>
    
    <xs:keyref refer="vendegKulcs" name="vendeg_idegen_kulcs_rendeles">
        <xs:selector xpath="rendeles"/>
        <xs:field xpath="@e_v_v"/>
    </xs:keyref>

    <!-- 1:1 kapcsolatok megvalósítása -->
    <xs:unique name="unique_foszakacs">
        <xs:selector xpath="foszakacs"/>
        <xs:field xpath="@e_f"/>
    </xs:unique>
    
    <xs:unique name="unique_gyakornok">
        <xs:selector xpath="gyakornok"/>
        <xs:field xpath="@e_gy"/>
    </xs:unique>

    
    <!-- Cím típus -->
    <xs:complexType name="cimTipus">
        <xs:sequence>
            <xs:element name="varos" type="xs:string"/>
            <xs:element name="utca" type="xs:string"/>
            <xs:element name="hazszam" type="xs:positiveInteger"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Gyakorlat típus -->
    <xs:complexType name="gyakorlatTipus">
        <xs:sequence>
            <xs:element name="kezdete" type="xs:string"/>
            <xs:element name="idotartama" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>



    <!-- Éttermek típusa -->
    <xs:complexType name="etteremTipus">
        <xs:sequence>
            <xs:element name="nev" type="xs:string"/>
            <xs:element name="cim" type="cimTipus"/>
            <xs:element name="csillag" type="xs:integer"/>
        </xs:sequence>
        <xs:attribute name="ekod" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Főszakács típusa -->
    <xs:complexType name="foszakacsTipus">
        <xs:sequence>
            <xs:element name="nev" type="xs:string"/>
            <xs:element name="eletkor" type="xs:integer"/>
            <xs:element name="vegzettseg" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="fkod" type="xs:string" use="required"/>
        <xs:attribute name="e_f" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Szakács típusa -->
    <xs:complexType name="szakacsTipus">
        <xs:sequence>
            <xs:element name="nev" type="xs:string"/>
            <xs:element name="reszleg" type="xs:string"/>
            <xs:element name="vegzettseg" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="szkod" type="xs:string" use="required"/>
        <xs:attribute name="e_sz" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Gyakornok típusa -->
    <xs:complexType name="gyakornokTipus">
        <xs:sequence>
            <xs:element name="nev" type="xs:string"/>
            <xs:element name="gyakorlat" type="gyakorlatTipus"/>
            <xs:element name="muszak" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="gykod" type="xs:string" use="required"/>
        <xs:attribute name="e_gy" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Vendég típusa -->
    <xs:complexType name="vendegTipus">
        <xs:sequence>
            <xs:element name="nev" type="xs:string"/>
            <xs:element name="eletkor" type="xs:integer"/>
            <xs:element name="cim" type="cimTipus"/>
        </xs:sequence>
        <xs:attribute name="vkod" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Rendelés típusa -->
    <xs:complexType name="rendelesTipus">
        <xs:sequence>
            <xs:element name="osszeg" type="xs:positiveInteger"/>
            <xs:element name="etel" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="e_v_e" type="xs:string" use="required"/>
        <xs:attribute name="e_v_v" type="xs:string" use="required"/>
    </xs:complexType>

    

</xs:schema>
