GH5OGN_1001/GH5OGN_Dogworld1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:element name="cim" type="xs:string"/>
  <xs:element name="szerzo" type="xs:string"/>
  <xs:element name="nev" type="xs:string"/>
  <xs:element name="baratja" type="xs:string"/>
  <xs:element name="szuletett" type="xs:date"/>
  <xs:element name="jellemzese" type="xs:string"/>

  <xs:attribute name="isbn" type="xs:string"/>

  <xs:element name="konyvek">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="konyv" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="konyv">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cim"/>
        <xs:element ref="szerzo"/>
        <xs:element ref="szereplo" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute ref="isbn" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="szereplo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nev"/>
        <xs:element ref="baratja" minOccurs="0"/>
        <xs:element ref="szuletett"/>
        <xs:element ref="jellemzese"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
